<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="reuniao" connectionString="Data Source=..\..\..\AtividadeLemafJoseRenato.Repositorios\Reuniao.db;"/>
  </connectionStrings>
  <appSettings>
    <add key="EMAIL_TESTE" value="rzbjose@gmail.com" />
    <add key="EMAIL_REMETENTE" value="agendamentoreuniao@lemaf.com" />
  </appSettings>
</configuration>